/eclipse-scrap
/workspace-cdt/.metadata
/workspace-cdt/Lab1-3/.cproject
/workspace-cdt/Lab1-3/.gitignore
/workspace-cdt/Lab1-3/.project
/workspace-cdt/Lab1-3/.settings
/workspace-cdt/Lab1-3/.gdbinit
/workspace-cdt/Lab2-1/.cproject
/workspace-cdt/Lab2-1/.gitignore
/workspace-cdt/Lab2-1/.project
/workspace-cdt/Lab2-1/.settings
/workspace-cdt/Lab2-1/*.csv
