/eclipse-scrap
/workspace-cdt/.metadata
/workspace-cdt/Lab1-3/.cproject
/workspace-cdt/Lab1-3/.gitignore
/workspace-cdt/Lab1-3/.project
/workspace-cdt/Lab1-3/.settings
/workspace-cdt/Lab1-3/.gdbinit
/workspace-cdt/Lab2-1/.cproject
/workspace-cdt/Lab2-1/.gitignore
/workspace-cdt/Lab2-1/.project
/workspace-cdt/Lab2-1/.settings
/workspace-cdt/Lab2-1/*.csv
/workspace-cdt/LinkedList/.cproject
/workspace-cdt/LinkedList/.gitignore
/workspace-cdt/LinkedList/.project
/workspace-cdt/LinkedList/.settings
/workspace-cdt/LinkedList/*.csv
/workspace-cdt/VectorSorting/.cproject
/workspace-cdt/VectorSorting/.gitignore
/workspace-cdt/VectorSorting/.project
/workspace-cdt/VectorSorting/.settings
/workspace-cdt/VectorSorting/*.csv
/workspace-cdt/HashTable/.cproject
/workspace-cdt/HashTable/.gitignore
/workspace-cdt/HashTable/.project
/workspace-cdt/HashTable/.settings
/workspace-cdt/HashTable/*.csv
/workspace-cdt/BinarySearchTree/.cproject
/workspace-cdt/BinarySearchTree/.gitignore
/workspace-cdt/BinarySearchTree/.project
/workspace-cdt/BinarySearchTree/.settings
/workspace-cdt/BinarySearchTree/*.csv
